<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark shadow vh-100 " style="width: 280px;" th:fragment="leftList">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">HomeServices</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto fixed">
      <li class="nav-item">
        <a href="/json" class="nav-link text-white" th:classappend="${uri} eq '/json' ? 'active'">
          JsonGen
        </a>
      </li>
    </ul>
    <hr>
  </div>
